# 対応のある２群のt検定（１標本t検定）

In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import scipy.stats as stats #統計に関するライブラリ

In [2]:
df = pd.read_csv("./data/01.csv")
df.head()

   ID   A   B
0   1  90  95
1   2  75  80
2   3  75  80
3   4  75  80
4   5  80  75

In [3]:
df.describe()

            ID         A          B
count  8.00000   8.00000   8.000000
mean   4.50000  76.87500  81.250000
std    2.44949   7.03943   6.408699
min    1.00000  65.00000  75.000000
25%    2.75000  75.00000  78.750000
50%    4.50000  75.00000  80.000000
75%    6.25000  80.00000  81.250000
max    8.00000  90.00000  95.000000

## 1標本検定

In [4]:
stats.ttest_rel(df.A, df.B)

Ttest_relResult(statistic=-2.965614910077132, pvalue=0.020937570206924612)

## scipy.stats.ttest_rel(a, b, axis=0)
Calculates the T-test on TWO RELATED samples of scores, a and b.
This is a two-sided test for the null hypothesis that 2 related or repeated samples have identical average (expected) values.

Parameters:	

a, b : array_like　The arrays must have the same shape.

axis : int, optional, (default axis=0)　Axis can equal None (ravel array first), or an integer (the axis over which to operate on a and b).

Returns:	

t : float or array t-statistic

prob : float or array two-tailed p-value

https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.ttest_rel.html

返り値：

t値 ： 平均値の差の大きさの度合い。

p値（両側検定） ： 母集団の平均が同じだと仮定したときに、平均の差が、検定を行ったデータより大きくなる確率。この値でもって1%や5%の判定をする。